body{
    margin: 0;
    padding: 0;
}
.container {
    background-color: whitesmoke;
    /* height: 800px; */
}
.header {
    height: 80px;
    text-align: center;
    background-color: #23aeb0;
    color: white;
    line-height: 80px;
    margin-bottom: 20px;
}
.card{
    background-color: #23aeb0;
    width: 200px;
    /* height: 200px; */
    margin: 10px;
    /* text-align: center; */
    padding-top: 10px;
    border-radius: 10px;
}
.gambar{
    width: 150px;
    /* margin-top: 5px; */
    border: 2 px solid white;
    margin: 8px auto;
    display: block;
}
button{
    background-color: #1e9698;
    padding: 8px;
    color: white;
    border-radius: 10px;
    margin-left: 24px;
}
.judul {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 26px;
    margin-top: 6px;
    padding-bottom: 10px;
}
.group-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}